
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   
    font-family: 'Open Sans', sans-serif;
}
main{
    padding-top: 70px;
}
/* ----- inizio secion header----- */
header{
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}
.contenitori-header{
    display: flex;
    justify-content: space-between;
}
.nav-header{
    display: flex;
   
}
.hd-ul {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    padding: 20px;
    list-style: none;
  
}
.hd-ul li {
    padding: 5px 12px;
    background-color: white;
    display: inline-block;
}
.hd-ul a{
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 100%;
    margin: 0px 10px;  
}
.hd-ul a:hover{
    border-bottom: 2px solid gray;
}
#buttone{
    background-color: #0061ff;
    padding: 5px;
    color: white;
    text-align: center;
}
 #buttone:hover{
    filter: opacity(50%);

 }
 
/* ----- fine secion header----- */

/* ----- inizio secion jumbotron----- */

.bg-main{
    background-color: #B4D0E7;
    width: 100%;
    height: 600px;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding-top: 80px;
}
.container2{
    max-width: 1000px;
    margin: auto;
    padding-top: 80px;
}
.container1{
    max-width: 1000px;
    margin: auto;
    margin-top: 80px
}
.contenitore1{
    display: flex;
}
.dx{
    
    width: 40%;
    height: 400px;
    margin-top: 50px;
}
.sx{
    
    width: 60%;
    height: 400px;
   margin-top: 50px;
}
h1{
    font-size: 50px;
    
}
.dx p{
    margin-left: 10px;
    margin-bottom: 50px;

}
.dx h5{
    margin-top: 30px;
    margin-left: 10px;
}
span.buttone {
    margin: 10px;
}
i.fa-solid.fa-arrow-down {
    font-size: 40px;
    margin-left: 10px;
    margin-top: 90px;
    color: black;
}
.jumbo{
    width: 100%;
}

/* ----- fine secion jumbotron----- */

/* ----- inizio secion card senza img----- */
.section-2-piani {
    display: flex;
    justify-content: space-between;
}
.selectore{
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
}
.cerchio-blue{
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 4px solid #0061ff;
    border-radius: 50%;
    vertical-align: middle;
}
.cerchio-vuoto{
    display: inline-block;
    height: 22px;
    width: 22px;
    border: gray 2px solid;
    border: 2px solid gray;
    vertical-align: middle;
    border-radius: 50%;
}
.piani {
    width: 30%;
    height: 900px;
    font-size: 16px;
    border: 2px solid gray
}

.piani-margin {
    margin-left: 30px;
    margin-right: 30px;
}

.piani .piani-margin i  {
    margin-left: -5px;
}
.piani ul li{
    padding-top: 10px;
    padding-bottom:10px;
    list-style: none;

}
.piani ul{
    padding-top: 20px;
}

.testo{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}
 .color{
    color: #0061ff;
 }
.piani-title {
    text-align: center;
    border-bottom: 2px solid gray;
    padding: 5px 0px;
    margin-bottom: 40px;
   
}

.piani h3 {
    font-size: 23px;
    margin-bottom: 18px;
}

.piani h5 {
    margin-top: 30px;
    color: gray;
}

.piani2 {
    
    font-size: 16px;
    border: 2px solid gray
}

.piani-title2{
    text-align: center;
    border-bottom: 2px solid gray;
    padding: 5px 0px;
    margin-bottom: 40px;
    text-indent: 0px;

}
.bi-section {
    display: flex;
}

.small-30{
    height: 200px;
    width: 30%;
    text-align: center;
    padding-left: 40px;
    
}
.small-30 .buttone{
    padding: 5px;
    background-color: whitesmoke;
    margin-top: 20px;
}
.big-60{
    width: 60%;
    padding-left: 20px;
    
}
.big-60 p{
    padding-top: 50px;
}
.big-60 h3{
    padding-bottom: 20px;
}

/* ----- fine secion card senza img----- */

/* ----- inizio secion card con img----- */
.colonne{
    display: flex;
    width: 100%;
}
.col{
    width: calc(100% / 3);
    padding: 20px;
    padding-bottom: 60px;
    margin: 5px;
   
    height: 1000px;
}
.col, img, p, h3{
    padding-bottom: 20px;
}


.nr-utilizz h1{
    width: 60%;
    
    padding-bottom: 40px;
}
/* ----- fine secion card con img----- */

/* ----- inizio secion card solo 1 img----- */
.cont{
    display: flex;

}
img{
    width: 100%;
}
.foto{
    width: 60%;
    height: 600px;

}
.text{
    
    width: 40%;
    height: 600px;
    padding: 40px;
}
.text h2{
    padding-bottom: 20px;
}
.text span{
    border: 1px solid;
    padding: 5px;
}
.text p{
    padding-bottom: 30px;
}
/* ----- fine secion card solo 1 img----- */

/* ----- inizio secion clienti----- */

.secion-clienti{
    margin-top: 150px;
}
.clienti1{
    display: flex;
}

.quad-grandi1{
    display: flex;
    width: calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
   background-color: rgb(249, 249, 249);

}
.quad-grandi2{
    width: calc(100% / 3);
    height: calc(100vw / 3);
   background-color: rgb(249, 249, 249);

}

.quad-piccoli{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.quad-piccoli img{
    width: 50%;
    color: white;
    filter: invert(100%);

}

.over-flow{
    padding-left: 10px;
    overflow-y: auto;
}
.quad-grandi2 img{
    width: 50%;
  padding-top: 20px;  
}
.quad-grandi2 p{
    padding-top: 20px;
}
.clienti-hr {
    width: 40%;
    border: 1px solid gray;
}


.asu{
    background-color: #61082B;
    border: 15px solid #d1e9cd;
}
.clear_channel{
    background-color: #FFD830;
}
.designit{
    background-color: #A2D39B;
}
.hearst{
    background-color: #B4D0E7;
}
.lonely_planet{
    background-color: #0D2481;
}
.topps{
    background-color: #FF1C1C;
}
.uf{
    background-color: #0093CE;
}
.world{
    background-color: #D5001F;
}
/* ----- fine secion clienti----- */
.bg-col4{
    background-color: #B4D0E7;
    padding: 20px;
    
}
 /* ----- inizio elenco di domande ----- */
 .domande{
    padding-bottom: 40px;
 }
 
 h2{
    font-size: 40px;
 }
 h6{
    padding: 20px;
    font-size: 15px;
 }
 .prima-dom{
    line-height: 50%;
    display: inline-block;
    position: relative;
 }
 #box-arrow-down{
   position: relative;
   left: 980px;
   bottom: 20px;
 }
 #box-arrow-up{
    position: relative;
   left: 980px;
   bottom: 20px;
 }
 .prima-dom  #box-arrow-up{
    display: none;
 }
 .prima-dom p{
    display: none;

 }
 .prima-dom:hover #box-arrow-up{
    display: block;
 }
 .prima-dom:hover #box-arrow-down{
    display: none;
}
.prima-dom:hover p  {
    display: block;
}


/* -----fine elenco di domande ----- */

/* ----- inizio footer ----- */
footer{
    background-color: black;
    height: 400px;
    padding: 40px;
}
.footer-container{
    max-width: 1170px;
    margin: auto;
    display: flex;
}

.colonna {
    width: calc(100% / 5);
    
    height: 100%;
}
.ft-ul li {
    padding: 10px 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
 
 }
.ft-ul{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
 }
 .ft-ul a{
    text-decoration: none;
    color: whitesmoke;
 }
 .lingue{
    width: 20%;
    border-top: 1px solid white;
    margin-top: 50px;

 }
 .lingue h6{
    color: white;
    padding-top: 20px;
 }
 /* -----  footer ----- */
